openapi: 3.2.0
info:
  version: v1.0.0
  title: XETA Budget Category API
  description: XE Travel API - Manage your trips and associated expenses.
servers:
- url: https://xeta-api.xe.com/v1
tags:
- name: Budget Category
paths:
  /budget-category:
    get:
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategoryList'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
      security:
      - xeta-drupal-authorizer: []
      tags:
      - Budget Category
    post:
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategory'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
      security:
      - xeta-drupal-authorizer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetCategory'
        required: true
      tags:
      - Budget Category
  /budget-category/{budgetCategoryId}:
    get:
      parameters:
      - name: budgetCategoryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategory'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
      security:
      - xeta-drupal-authorizer: []
      tags:
      - Budget Category
    put:
      parameters:
      - name: budgetCategoryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetCategory'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
      security:
      - xeta-drupal-authorizer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetCategory'
        required: true
      tags:
      - Budget Category
    delete:
      parameters:
      - name: budgetCategoryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XetaError'
      security:
      - xeta-drupal-authorizer: []
      tags:
      - Budget Category
components:
  schemas:
    BudgetCategory:
      type: object
      required:
      - id
      - lastModifiedDate
      - name
      - userId
      properties:
        createdBy:
          type: integer
          description: Id of the user who created this entity.
        createdDate:
          type: integer
          description: Timestamp of when this entity was created.
        lastModifiedBy:
          type: integer
          description: Id of the user who last modified this entity.
        lastModifiedDate:
          type: integer
          description: Timestamp of when this entity was last modified.
        id:
          type: integer
          description: Unique identifier.
        userId:
          type: integer
          description: Id of the user who owns this budget category.
        name:
          type: string
          description: Unique name.
          minLength: 1
          maxLength: 191
          pattern: ^.*\S+.*$
      title: Budget Category
      description: An entity used to categorize expenses.
    XetaErrorValidationErrorsItem:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Unique error code.
          enum:
          - SIZE
          - 'NULL'
          - DIGIT
          - REQUIRED
          - UNEXPECTED
          - TRIP
          - EXPENSE
          - EMAIL
        message:
          type: string
          description: Verbose error description.
        field:
          type: string
          description: Field that triggered the validation error.
      description: An entity used to represent validation errors.
    BudgetCategoryList:
      title: BudgetCategoryList
      type: array
      description: BudgetCategory List object
      items:
        $ref: '#/components/schemas/BudgetCategory'
    XetaError:
      type: object
      properties:
        code:
          type: string
          description: Unique error code.
          enum:
          - OPTIMISTIC_LOCK
          - ENTITY_NOT_FOUND
          - ROUTE_NOT_FOUND
          - JSON
          - VALIDATION
          - UNAUTHORIZED
          - FORBIDDEN
          - UNEXPECTED
          - ENTITY_EXISTS
          - TOO_MANY_REQUESTS
        message:
          type: string
          description: Verbose error description.
        validationErrors:
          type: array
          description: Verbose validation errors.
          items:
            $ref: '#/components/schemas/XetaErrorValidationErrorsItem'
      title: Xeta Error
      description: An entity used to represent all errors.
  securitySchemes:
    xeta-drupal-authorizer:
      type: apiKey
      name: Cookie
      in: header
      x-amazon-apigateway-authtype: custom
